body {
  position: relative;
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  color: var(--main-title-color);
}

body.is-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color, 250ms var(--time-function);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.5;
  color: #ffffff;
}

.pre-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: #2b2b37;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  color: #fff;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 30px;
}

.navigation {
  display: flex;
}

.navigation__menu {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.contacts {
  margin-left: 80px;
}

.contacts__list {
  display: flex;
}

.contacts__item {
  margin-left: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.logo {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.hero {
  background-image: url(/images/masada-fortress.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.5;
}

.hero-pre__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: #ffffff;
  height: 54px;
}

.hero-text__wrap {
  display: flex;
}

.hero-text__item {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}
.hero-text__item:not(:first-child) {
  margin-left: 70px;
}

.services-list {
  display: flex;
  margin-top: 50px;
}

.services-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  width: 445px;
  padding: 30px;
  border: 5px solid tomato;
  border-radius: 10px;
  border-color: #393939;
  justify-content: center;
  align-items: center;
}
.services-item:not(:first-child) {
  margin-left: 20px;
}

.services-text {
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
}/*# sourceMappingURL=main.css.map */