.image-wrap {
  width: 200px;
  height: 150px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-content {
  width: 695px;
}

.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #3a393e;
}

.about-after__title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #2b2b37;
}
