.services {
  background: #e5e5e5;
}

.services-list {
  display: flex;
  margin-top: 50px;
}
.services-item {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  // height: 400px;
  width: 445px;
  padding: 30px;
  border: 3px solid gray;
  border-radius: 10px;
  border-color: #393939;
  justify-content: center;
  align-items: center;
  background: #ffffff;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.services-text {
  padding-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
}
