.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
  padding-top: 60px;
  padding-bottom: 60px;

  }

  @include desktop {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 480px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}
