body {
  position: relative;
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  color: var(--main-title-color);
}

body.is-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

%list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color, 250ms var(--time-function);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

%link {
  text-decoration: none;
  // transition: color, 250ms var(--time-function);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 1.5;
  color: #ffffff;
}

.pre-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: #2b2b37;
}
